body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container {
    width: 90%;
    max-width: 800px;
    height: 80%;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-header {
    background: #007bff;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
}

#chatbox {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    max-width: 75%;
}

.user-message {
    align-self: flex-end;
    flex-direction: row-reverse;
    text-align: right;
}

.bot-message {
    align-self: flex-start;
    text-align: left;
}

.message {
    background: #ececec;
    padding: 10px;
    border-radius: 10px;
}

.user-message .message {
    background: #dcf8c6;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

#input-area {
    display: flex;
    padding: 10px;
    background: #f0f2f5;
    align-items: center;
}

.input-container {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 5px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.input-container input {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
    background-color: #f8f8f8;
}
.input-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.input-container button img {
    width: 20px;
    height: 20px;
}
.input-container button:focus {
    outline: none;
}

#send, .custom-file-upload {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
}

#send:hover {
    background: #0056b3;
}

.custom-file-upload:hover {
    background: #0056b3;
}

#imageUpload {
    display: none;
}
