<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="chat-container">
        <div id="chat-header">
            <h1>Chatbox</h1>
        </div>
        <div id="chatbox"></div>
        <div id="input-area">
            <input type="text" id="message" placeholder="Type a message...">
            <button type="submit" id="send">Send</button>
            <label for="mediaUpload" class="custom-file-upload">Upload Media</label>
            <input type="file" id="mediaUpload" accept="image/*, video/*" style="display: none;">
            <button id="recordButton">Start Recording</button>
        </div>
    </div>

    <script>
        const userAvatar = 'static/mask.png';
        const botAvatar = 'static/doctor.png';
        const scanAvatar = 'static/scan.png';

        function sendTmpMessage(avatar, message) {
            const analyzingMessageId = `analyzing-${Date.now()}`;
            const botAnalyzingMessage = document.createElement('div');
            botAnalyzingMessage.id = analyzingMessageId;
            botAnalyzingMessage.classList.add('message-container', 'bot-message');
            botAnalyzingMessage.innerHTML = `<img src=${avatar} class="avatar"><div class="message">${message}</div>`;
            chatbox.appendChild(botAnalyzingMessage);
            chatbox.scrollTop = chatbox.scrollHeight;
            return analyzingMessageId
        }

        function generateResponse(apiCall, message) {
            let avatar;
            let tmpMessage;
            if (apiCall == "/chat") {
                avatar = botAvatar;
                tmpMessage = "Thinking...";
            } else if (apiCall == "/media_analyze") {
                avatar = scanAvatar;
                tmpMessage = "Analyzing file...";
            }
            const tmpMessageId = sendTmpMessage(avatar, tmpMessage);
            fetch(apiCall, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `message=${message}`
            })
            .then(response => response.json())
            .then(data => {
                const tmpMessageElement = document.getElementById(tmpMessageId);
                if (tmpMessageElement) {
                    tmpMessageElement.innerHTML = `<img src=${avatar} class="avatar"><div class="message">${data.message}</div>`;
                }
                chatbox.scrollTop = chatbox.scrollHeight;
            });
        }

        function sendUserMessage(content) {
            const chatbox = document.getElementById('chatbox');
            const userMessageDiv = document.createElement('div');
            userMessageDiv.classList.add('message-container', 'user-message');
            userMessageDiv.innerHTML = `<img src=${userAvatar} class="avatar"><div class="message">${content}</div>`;
            chatbox.appendChild(userMessageDiv);
        }

        document.getElementById('send').addEventListener('click', function() {
            const message = document.getElementById('message').value.trim();
            if (message !== '') {
                sendUserMessage(message);
                document.getElementById('message').value = '';
                generateResponse("/chat", message);
            }
        });

        document.getElementById('mediaUpload').addEventListener('change', function() {
            const file = this.files[0];
            const formData = new FormData();
            formData.append('media', file);

            fetch('/upload_media', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let fileContent;
                if (file.type.startsWith('image/')) {
                    fileContent = `<img src="${data.url}" alt="uploaded image">`;
                } else if (file.type.startsWith('video/')) {
                    fileContent = `<video controls><source src="${data.url}" type="${file.type}"></video>`;
                } else {
                    fileContent = `Unsupported file type: ${file.type}`;
                }
                sendUserMessage(fileContent);
                generateResponse("/media_analyze", data.url);
            });
        });

        let mediaRecorder;
        let audioChunks = [];
        const recordButton = document.getElementById('recordButton');

        recordButton.addEventListener('click', () => {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                recordButton.textContent = "Start Recording";
            } else {
                startRecording();
                recordButton.textContent = "Stop Recording";
            }
        });

        async function startRecording() {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };
            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                console.log(audioBlob);
                audioChunks = [];
                sendData(audioBlob);
            };
            mediaRecorder.start();
        }

        function sendData(audioBlob) {
            const formData = new FormData();
            formData.append('audio', audioBlob);

            fetch('/transcript', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                messageInput = document.getElementById("message");
                const currentText = messageInput.value;
                messageInput.value = currentText ? currentText + " " + data.transcript : data.transcript;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
