<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-header">
            <h1>Chatbox</h1>
        </div>
        <div id="chatbox"></div>
        <form id="input-area">
            <div id="input-container">
                <button id="recordButton" type="button">
                    <img src="static/microphone_off.png" alt="Microphone" id="micIcon">
                </button>
                <input type="text" id="message" placeholder="Type a message...">
            </div>
            <button type="submit" id="send">Send</button>
            <label for="mediaUpload" id="file-upload">Upload Media</label>
            <input type="file" id="mediaUpload" accept="image/*, video/*" style="display: none;">
        </form>
    </div>

    <script>
        const userAvatar = 'static/mask.png';
        const botAvatar = 'static/doctor.png';
        const scanAvatar = 'static/scan.png';
        const microphone_off = 'static/microphone_off.png';
        const microphone_on = 'static/microphone_on.png';

        const questionnaire = ' \
        <form id="questionnaire"> \
            <p>Please provide the following information so that we can better analyze your skin condition.</p>\
            <div> \
                <label for="age">Age:</label> \
                <input type="text" id="age" name="age"> \
            </div> \
            <div> \
                <label for="gender">Gender:</label> \
                <input type="text" id="gender" name="gender"> \
            </div> \
            <div> \
                <label for="location">Location:</label> \
                <input type="text" id="location" name="location"> \
            </div> \
            <div> \
                <label for="race">Race:</label> \
                <input type="text" id="race" name="race"> \
            </div> \
            <p><i>*Your information will <b>NOT</b> be shared with anyone, and <b>ONLY</b> be available for this session.</i></p>\
            <button type="submit" id="submit">Submit</button> \
        </form>'
        questionnaire_id = sendTmpMessage(botAvatar, questionnaire);

        function sendTmpMessage(avatar, message) {
            const analyzingMessageId = `tmp-message-${Date.now()}`;
            const botAnalyzingMessage = document.createElement('div');
            botAnalyzingMessage.id = analyzingMessageId;
            botAnalyzingMessage.classList.add('message-container', 'bot-message');
            botAnalyzingMessage.innerHTML = `<img src=${avatar} class="avatar"><div class="message">${message}</div>`;
            chatbox.appendChild(botAnalyzingMessage);
            chatbox.scrollTop = chatbox.scrollHeight;
            return analyzingMessageId
        }

        function generateResponse(apiCall, message) {
            let avatar;
            let tmpMessage;
            if (apiCall == "/chat") {
                avatar = botAvatar;
                tmpMessage = "Thinking...";
            } else if (apiCall == "/media_analyze") {
                avatar = scanAvatar;
                tmpMessage = "Analyzing file...";
            }
            const tmpMessageId = sendTmpMessage(avatar, tmpMessage);
            fetch(apiCall, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `message=${message}`
            })
            .then(response => response.json())
            .then(data => {
                const tmpMessageElement = document.getElementById(tmpMessageId);
                if (tmpMessageElement) {
                    tmpMessageElement.innerHTML = `<img src=${avatar} class="avatar"><div class="message">${data.message}</div>`;
                }
                chatbox.scrollTop = chatbox.scrollHeight;
            });
        }

        function sendUserMessage(content) {
            const chatbox = document.getElementById('chatbox');
            const userMessageDiv = document.createElement('div');
            userMessageDiv.classList.add('message-container', 'user-message');
            userMessageDiv.innerHTML = `<img src=${userAvatar} class="avatar"><div class="message">${content}</div>`;
            chatbox.appendChild(userMessageDiv);
        }

        function formDataToString(formData) {
            const entries = formData.entries();
            const data = {};
            for (const [key, value] of entries) {
                data[key] = value;
            }
            return `Here is my information, which may help you better analyze my skin conditions: age: ${data.age}; gender: ${data.gender}; location: ${data.location}; race: ${data.race}`;
        }

        document.getElementById('questionnaire').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(event.target);
            user_info_message = formDataToString(formData);
            const questionnaire_message = document.getElementById(questionnaire_id);
            questionnaire_message.innerHTML = `<img src=${botAvatar} class="avatar"><div class="message">Thank you! Your information is submitted.</div>`

            generateResponse("/chat", user_info_message);
        });

        document.getElementById('input-area').addEventListener('submit', function(event) {
            event.preventDefault();
            const messageInput = document.getElementById('message');
            const message = messageInput.value.trim();
            messageInput.value = '';
            if (message !== '') {
                sendUserMessage(message);
                generateResponse("/chat", message);
            }
        });

        document.getElementById('mediaUpload').addEventListener('change', function() {
            const file = this.files[0];
            const formData = new FormData();
            formData.append('media', file);

            fetch('/upload_media', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let fileContent;
                if (file.type.startsWith('image/')) {
                    fileContent = `<img src="${data.url}" alt="uploaded image">`;
                } else if (file.type.startsWith('video/')) {
                    fileContent = `<video controls><source src="${data.url}" type="${file.type}"></video>`;
                } else {
                    fileContent = `Unsupported file type: ${file.type}`;
                }
                sendUserMessage(fileContent);
                generateResponse("/media_analyze", data.url);
            });
        });

        let mediaRecorder;
        let audioChunks = [];
        const recordButton = document.getElementById('recordButton');

        recordButton.addEventListener('click', () => {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                document.getElementById('micIcon').src = 'static/microphone_off.png';
            } else {
                startRecording();
                document.getElementById('micIcon').src = 'static/microphone_on.png';
            }
        });

        async function startRecording() {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };
            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                audioChunks = [];
                sendData(audioBlob);
            };
            mediaRecorder.start();
        }

        function sendData(audioBlob) {
            const formData = new FormData();
            formData.append('audio', audioBlob);

            fetch('/transcript', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                messageInput = document.getElementById("message");
                const currentText = messageInput.value;
                messageInput.value = currentText ? currentText + " " + data.transcript : data.transcript;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
